<!DOCTYPE html>
<html>
    <head>
        

    </head>
<title>Weather</title>

<body>
    {{>header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, eligendi!</p>
    {{>footer}} 
   <script src="/js/app.js"></script>
</body>


</html>
